body {
    margin: 0;
    background-color: rgb(177, 109, 156);
}

*{
    box-sizing: border-box;
}

.wrap{
    display: flex;
    justify-content: center;
}

.form{
    padding-top: 150px;
}

.list{
    padding: 10px 0 0;
    margin: 0;
}

.li{
    list-style-type: none;
    background-color: rgb(167, 167, 167);

    display: flex;
    justify-content: space-between;
    padding: 10px 3px;
    margin-bottom: 5px;
}

.min-btn{
    background-color: rgb(248, 126, 126);
    border: 0;
    transition: all .1s;
}

.min-btn:hover{
    background-color: rgb(231, 81, 81);
}